{% extends 'base.html'%}
{% block content %}
    <div class="container-fluid" style="margin-top:50px">
        <div class="col-md-offset-3 col-md-6">
            <h3 class="page-header text-primary text-center">Informations</h3>         
            <div>
                <style>
                    #center{
                       text-align:center; 
                    }
                </style> 
                <!-- {% for entry in result %}
                    <h2>Summary</h2>
                    <p>{{ entry.summary }}</p>
            
                    <h2>Entities</h2>
                    <ul>
                        {% for person, details in entry.entities.items %}
                            <li>
                                <strong>{{ person }}</strong>
                                {% if details %}
                                    <ul>
                                        {% for category, values in details.items %}
                                            <li>
                                                <strong>{{ category }}:</strong>
                                                {% if values is list %}
                                                    {{ values|join:", " }}
                                                {% else %}
                                                    {{ values }}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No details available.</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %} -->
                <!-- <p>{{result}}</p>         -->
                
                {% for i in pdf %}
<p>{{i}}</p>
                    {% endfor %}
            </div>  
        </div>
    </div>       
{% endblock%}
